* {
    color: #ffffff;
    background-color: #242423;
    font-family: 'Cormorant SC', serif;
}

h1 {
    text-align: center;
    align-items: center;
    border-bottom: solid 2px #C8BFC7;
}

h2 {
    border-bottom: solid 2px #C8BFC7;
}

.game-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gameBoard {
    height: 90vh;
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.letter-row {
    display: flex;
    flex-wrap: wrap;
}

.letter-tile {
    border: solid 2px #C8BFC7;
    border-radius: 4px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.filled-tile {
    border: solid 2px black;
}


/* keyboard styling */
.keyboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.first-row,
.second-row,
.third-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.keyboard-button {
    height: 75px;
    width: 75px;
    border: solid 1px #242423;
    border-radius: 6px;
    color: #242423;
    background-color: #C8BFC7;
    font-size: 1.5rem;
    box-shadow: 1px 1px 1px 1px black;
}

/* end of keyboard */


